/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-cncutilities {
   
}

#com-chilipeppr-widget-cncutilities .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-chilipeppr-widget-cncutilities .form-block {
    display: block;
    padding: 5px;
}